//* ------------ FONTS ------------ *//
$text-font: 'Nunito-regular';
$text-font-lt: 'Nunito-light';
$text-font-sb: 'Nunito-semibold';
$text-font-bd: 'Nunito-bold';

$title-font: 'BalooTamma2-regular';
$title-font-sb: 'BalooTamma2-semibold';
$title-font-bd: 'BalooTamma2-bold';

$accent-font: 'Sniglet-regular';
$accent-font-eb: 'Sniglet-extrabold';

//* ------------ ANY ------------ *//