//* ------------ FONTS ------------ *//

$text-font: 'Nunito-regular';
$text-font-lt: 'Nunito-light';
$text-font-sb: 'Nunito-semibold';
$text-font-bd: 'Nunito-bold';

$title-font: 'BalooTamma2-regular';
$title-font-sb: 'BalooTamma2-semibold';
$title-font-bd: 'BalooTamma2-bold';

$accent-font: 'Sniglet-regular';
$accent-font-eb: 'Sniglet-extrabold';

$fs-px: 14px;

$font-size-title: 30px / $fs-px + rem;
$font-size-title-xs: 24px / $fs-px + rem;
$font-size-title-sm: 28px / $fs-px + rem;
$font-size-title-lg: 40px / $fs-px + rem;

$font-size-text: 14px / $fs-px + rem;
$font-size-text-xs: 8px / $fs-px + rem;
$font-size-text-sm: 10px / $fs-px + rem;
$font-size-text-lg: 16px / $fs-px + rem;
